@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


html,*{
	padding: 0;
	margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	color: rgb(65, 65, 65)
}

.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: justify;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:750px) {
    .column {
      width: 100%;
    }
  }














@media only screen and (max-width: 768px) {
    footer{
        position: relative;
      }
      .main-content{
        flex-wrap: nowrap;
        flex-direction: column;
      }
      .main-content .box{
        margin: 5px 0;
      } 
      div.bottom {
        width: 100%;
        height:47px;
    }
    div.center.box span.text{
        font-size: 14px;
    }

}
